<div class="container-help">
    <div class="content-help">
        <h1>Central de ajuda do SLA</h1>
        <h2>Esqueceu a senha da sua conta?</h2>
        <p>Precisamos que você informe o e-mail vinculado na sua conta.</p>
        <form action="sendEmail" method="post">
            <input type="email" name="email" placeholder="Insira seu e-mail" required = "required"><br>
            <button type="submit">Confirmar</button>
        </form>
    </div>
</div>