<div class="container">
    <header class="header-index">
        <div class="menu-header" id="menu-header">
            <div class="navbar">
                <div class="logo-menu">
                    
                </div>
                <div class="hamburguer"></div>
                <ul class="menu">
                    <li><a href="#history">Quem Somos</a></li>
                    <li><a href="#services">Serviços</a></li>
                    <li><a href="#benefits">Vantagens</a></li>
                    <li><a href="#contact">Contato</a></li>
                    <li><a href="cadastro">Cadastre-se</a></li>
                    <li><a href="login">Login</a></li>
                </ul>
            </div>
        </div>
        <div class="content-header">
            <div class="img-header">
                <img src="images/logo02.png" alt="logo">
            </div>
            <div class="label-header">
                <h1>Sistema de Lembrete dos Alunos</h1>
                <p>Acompanhe suas notas de maneira simples e objetiva</p>
                <a href="#history"><button>Conheça-nos</button></a>
            </div>
        </div>
    </header> <!-- FIM DO HEADER  -->

    <section class="history" id="history">
        <div class="img-history">
            <img src="images/hello3.jpg" alt="História">
        </div>
        <div class="content-history">
            <h1>Quem Somos</h1>
            <p>O SLA é um website simples, minimalista e extremamente focado em organizar o desempenho escolar de todos os estudantes dispostos a utilizá-lo.</p><br>
            <p>informando suas próximas avaliações e trabalhos escolares você é capaz de planejar melhor seus estudos. Mas como isso acontece?</p><br>
            <p><span>Simples!</span> O SLA disponibiliza estatísticas e resumos sobre suas ultimas avaliações e apresentações, informando a média, maior e menor notas das provas e trabalhos que você realizou, além de mostrar quais são os assuntos considerados mais simples e mais complexos de acordo com suas informações.</p>
        </div>
    </section> <!-- FIM DO HISTORY  -->

    <section class="services" id="services">
        <div class="title-services">
            <h1>Nossos Serviços</h1>
        </div>
        <div class="content-services">
            <div class="card">
                <div class="img-services">
                    <img src="images/dados.png" alt="Cadastro">
                </div>
                <div class="content-card-services">
                    <p>Cadastre informações como disciplina, matéria, professor(a), data e até mesmo observações adicionais sobre suas avaliações, trabalhos, apresentações ou toda e qualquer atividade relacionada a sua vida escolar.</p>
                </div>
            </div>
            <div class="card">
                <div class="img-services">
                    <img src="images/estatisticas.png" alt="Estatísticas">
                </div>
                <div class="content-card-services">
                    <p>Acompanhe sua evolução escolar e seu desenvolvimento pessoal através das estatísticas como maior e menor notas alcançadas, total de atividades realizadas e até mesmo quais assuntos você possui maior facilidade.</p>
                </div>
            </div>
            <div class="card">
                <div class="img-services">
                    <img src="images/lembrete.png" alt="Serviços">
                </div>
                <div class="content-card-services">
                    <p>Informando a data de suas próximas atividades você nunca perderá o prazo das mesmas, podendo assim planejar o conteúdo de suas apresentações e o momento de seus estudos.</p>
                </div>
            </div>
        </div>
    </section> <!-- FIM DO SERVICES -->

    <section class="benefits" id="benefits">
        <div class="img-benefits">
            <img src="images/win.jpg" alt="Vantagens">
        </div>
        <div class="content-benefits">
            <h1>Vantagens em Utilizar o SLA</h1>
            <p>A plataforma é totalmente gratuita.</p><br>
            <p>Utilizando nosso sistema você terá um maior controle sobre suas atividades, avaliações e apresentações escolares.</p><br>
            <p>O SLA lhe proporciona estatísticas sobre todas suas atividades, podendo assim ter uma ampla visão sobre seu desenvolvimento escolar.</p><br>
            <p>Acesse o website onde e quando quiser através de qualquer dispositivo (desde desktop até seu smartphone).</p>
        </div>
    </section> <!-- FIM DO BENEFITS -->

    <section class="contact" id="contact">
        <h1>Contato</h1>
        <p>Possui alguma dúvida, sugestão ou crítica? Então preencha o formulário.</p>
        <div class="form-contact">
            <form method="POST" action="confirmPost">
                <input type="text" name="nome" id="nome" placeholder="Nome" required = "required"><br>
                <input type="email" name="email" id="email" placeholder="E-mail" required = "required"><br>
                <textarea name="assunto" id="assunto" cols="30" rows="10" placeholder="Assunto" required = "required"></textarea><br>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </section> <!-- FIM DO CONTACT -->

    <footer class="footer-index">
        <p>Copyright &copy 2021 by Sistema de Lembrete dos Alunos. Todos os direitos reservados.</p>
        <p>Ícones feitos por <a href="https://www.flaticon.com/br/autores/phatplus" title="phatplus">phatplus</a> em <a href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com</a></p>
    </footer>
</div>    

<script src="script.js"></script>