<div class="container-login">
    <div class="area-login">
        <div class="content-login">
            <p id="erro">{{erro}}</p>
            <h1>Login</h1>
            <form action="confirmarLoginAdm" method="POST">            
                <div class="inputBox">
                    <input type="email" name="email" required = "required">
                    <span>Email</span>
                </div>
                <div class="inputBox">
                    <input type="password" name="senha" required = "required">
                    <span>Senha</span>
                </div>
                <div class="inputBoxButton">
                    <button type="submit">Entrar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="area-bg">
        <div class="area-logo">
            <img src="images/logo02.png" alt="logo">
            <h1>Sistema de Lembrete dos Alunos</h1>
        </div>
    </div>
</div>