<div class="container-help">
    <div class="content-help">
        <h1>Central de ajuda do SLA</h1>
        <h2>Seu email foi enviado!</h2>
        <p>Verifique a caixa de entrada ou o span do seus emails e siga as orientações apresentadas nele.</p><br>
        <i class="fa fa-check-circle-o" style="font-size:68px; color: green"></i>
    </div>
</div>