<div class="container-help" >
    <div class="content-alert-post">
        <h1>Central de comunicação do SLA</h1>
        <h2>Sua mensagem foi enviada com sucesso!</h2>
        <a href="../"><button>Voltar</button></a><br><br><br>
    </div>
</div>